<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <!-- Feather Icons -->
    <script src="https://unpkg.com/feather-icons"></script>

    <!-- My Style -->
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>

  <body>
    <!-- Sidebar Start -->
    <div class="sidebar">
      <div class="sidebar-icon">
        <button id="sidebar-toggle">
          <i data-feather="chevron-right"></i>
        </button>
      </div>
      <div class="sidebar-menu">
        <a href="#create" class="sidebar-link active"
          ><i data-feather="plus"></i> <span>Create New</span></a
        >
        <a href="/"><i data-feather="home"></i> <span>Home</span></a>
        <a href="/shortlink"
          ><i data-feather="link-2"></i> <span>URL Shortener</span></a
        >
        <a href="/qr"><i data-feather="grid"></i> <span>QR Codes</span></a>
        <a href="/linktree"
          ><i data-feather="trending-up"></i> <span>Link-In-Bio</span></a
        >
      </div>
    </div>
    <!-- Sidebar End -->

    <!-- Navbar Start -->
    <nav class="top-navbar">
      <div class="user-dashboard">
        <p>User Dashboard</p>
      </div>
      <div class="user-profile">
        <div class="user-icon" id="user-icon">
          <i data-feather="smile"></i>
        </div>
        <i class="chevron-down-icon" data-feather="chevron-down"></i>
      </div>
        <div class="dropdown" id="dropdown">
          <!-- <p>Support</p> -->
          <a href="/account/logout">Logout</a>
        </div>
      </div>
    </nav>
    <!-- Navbar End -->

    <!-- Content Start -->
    <div class="frame">
        <div class="div">
          <div class="div-2">
            <div class="shortcut-links"><div class="text-wrapper">plb.sh/shorts</div></div>
          </div>
          <div class="text-wrapper-2">URL Shortener</div>
          <div class="div-wrapper">
            <div class="text-wrapper-3">
              <button onclick="window.location.href='/shortlink'">Go to links</button>
            </div>
          </div>
        </div>        
        <div class="div-3">
          <img class="img" src="img/frame-2610307.svg" />
          <div class="text-wrapper-2">QR Codes</div>
          <div class="div-wrapper">
            <div class="text-wrapper-4">
              <button onclick="window.location.href='/qr'">Go to QR</button></div>
            </div>
        </div>
        <div class="div-4">
          <div class="div-2">
            <div class="shortcut-links-2">
              <div class="text-wrapper-5">Destination 2               
              </div>
            </div>
            <div class="shortcut-links-3">
              <div class="text-wrapper-5">Destination 3</div>
            </div>
            <div class="shortcut-links-4">
              <div class="text-wrapper-6">Destination 1</div>
            </div>
          </div>
          <div class="text-wrapper-2">Link-In-Bio</div>
          <div class="div-wrapper">
            <div class="text-wrapper-7">
              <button onclick="window.location.href='/linktree'">Go to Tools</button>
            </div>
          </div>
        </div>
    </div>
    <!-- Content End -->

    <!-- JavaScript -->
    <script src="assets/js/main.js"></script>
    <script>
      feather.replace(); // Untuk mengganti ikon Feather.js
    </script>
  </body>
</html>
