<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shortlink URL</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />

    <!-- Feather Icons -->
    <script src="https://unpkg.com/feather-icons"></script>

    <!-- My Style -->
    <link rel="stylesheet" href="/assets/css/landingpage.css" />
  </head>

  <body>
    <!-- <header>
      <nav>
        <a href="shortlink.html" class="nav-link">Shortlink</a>
        <a href="qrcode.html" class="nav-link">QR Code</a>
        <a href="help.html" class="nav-link">Help</a>
        <a href="aktivasi.html" class="activate-btn">Aktivasi</a>
      </nav>
    </header> -->

    <!-- Navbar Start -->
    <nav class="navbar">
      <a href="#" class="navbar-logo">Polban<span>ers</span>.</a>

      <div class="navbar-nav">
        <a href="http://localhost:8000/shortlink">Shortlink</a>
        <a href="http://localhost:8000/qr">QR Code</a>
        <a href="#help">Help</a>
        <a href="http://localhost:8000/account/aktivasi" class="activate-btn">Aktivasi</a>
      </div>

      <div class="navbar-extra">
        <a href="#" id="hamburger-menu"><i data-feather="menu"></i></a>
      </div>
    </nav>
    <!-- Navbar End -->

    <!-- Hero Section Start -->
    <section class="hero" id="shortlink">
      <main class="content">
        <h1>Create link that perform with our</h1>
        <h1>URL Shortener</h1>
        <p>
          Spark instant connections with your audience using trimmed,
          trustworthy, and trackable links
        </p>

        <!-- Input dan Button -->
        <div class="input-box">
          <input type="text" placeholder="Place your URL here..." />
          <button class="cta">Shorten Your Link</button>
        </div>

        <!-- Partner Logos -->
         <section class="partners-section">
          <p style="margin-top: 1.5rem">
            Partner in Policy
          </p>
          <div class="partners">
            <img src="assets/img/polban.png" alt="Partner 1" />
            <!-- <img src="logo2.png" alt="Partner 2" />
            <img src="logo3.png" alt="Partner 3" />
            <img src="logo4.png" alt="Partner 4" />
            <img src="logo5.png" alt="Partner 5" /> -->
          </div>
      </section>
         </section>
    <!-- Hero Section End -->

    <!-- About Section Start -->
    <section id="about" class="about">
      <h2>All-In-One Platform to manage your link.</h2>
      <h3>Smart Solution for link management</h3>
      <p>Use our URL Shortener, QR Code generator, and Link in Bio tools to increase productivity and simplify distribution of information.
      </p>
    </section>

    <div class="feature-frame">
      <div class="frame-shortlink">
        <div class="shortcut-links" style="visibility: hidden;"><div class="text-wrapper-3">plb.sh/shorts</div></div>
        <div class="shortcut-links"><div class="text-wrapper-3">plb.sh/shorts</div></div>
        <div class="shortcut-links" style="visibility: hidden;"><div class="text-wrapper-3">plb.sh/shorts</div></div>
        <div class="frame-desc">
          <div class="div">URL Shortener</div>
          <p class="p">Change your long URL to-a shorter and easy to use-URL.</p>
        </div>
      </div>
      <div class="frame-QR">
        <img class="QR-code" src="img/QR-code.svg" />
        <div class="frame-desc">
          <div class="div">QR Code</div>
          <p class="p">Generate your URL into a QR Code in a second.</p>
        </div>
      </div>
      <div class="frame-linktree">
        <div class="destination"><div class="text-wrapper-2">Destination 1</div></div>
        <div class="destination"><div class="text-wrapper-2">Destination 2</div></div>
        <div class="destination"><div class="text-wrapper-2">Destination 3</div></div>
        <div class="frame-desc">
          <div class="div">Link-In-Bio</div>
          <p class="text-wrapper">Combine your URLs in one elegant, easy-to-access page.</p>
        </div>
      </div>
    </div>
    <!-- About Section End -->
    
    <!-- Before Footer Section-->
     <div class="before-footer">
      <div class="content">
        <div class="text">Let's get started</div>
        <p class="description">
          Activate your account and enjoy all the convenience that we offer
        </p>
        <a href="http://localhost:8000/account/aktivasi" class="activate-btn">Activate</a>
      </div>
     </div>

     <div class="footer">
      <div class="footer-content">
        <div class="product-section">
          <div class="product-title">Products</div>
          <div class="product-item">URL Shortener</div>
          <div class="product-item">QR Code</div>
          <div class="product-item">Link-In-Bio</div>
        </div>
        <div class="info-section">
          <div class="info-title">About</div>
          <div class="info-item">Polbaners</div>
          <div class="info-item">Help</div>
        </div>
        <div class="social-icon">

        </div>
      </div>
     </div>
    <!-- Before Footer Section-->
  </body>
</html>
